build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.git/
.github/
*.iml
.idea/
*.log
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/.symlinks/
macos/Pods/
*.g.dart
*.freezed.dart
coverage/
test/
integration_test/
*.md
docker-compose*
Dockerfile*
deploy/
